services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    image: archon-social
    environment:
      - AD_HOST_PORT=${AD_HOST_PORT:-3000}
      - AD_HOST_URL=${AD_HOST_URL}
      - AD_GATEKEEPER_URL=${AD_GATEKEEPER_URL:-http://host.docker.internal:4224}
      - AD_KEYMASTER_URL=${AD_KEYMASTER_URL}
      - AD_WALLET_URL=${AD_WALLET_URL:-http://host.docker.internal:4224}
      - AD_DATABASE=${AD_DATABASE}
      - AD_WALLET_PASSPHRASE=${AD_WALLET_PASSPHRASE}
    volumes:
      - ./server/data:/app/server/data
    ports:
      - "${AD_HOST_PORT:-3000}:${AD_HOST_PORT:-3000}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
