services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
    image: archon-social
    environment:
      - AD_HOST_PORT=${AD_HOST_PORT:-3000}
      - AD_HOST_URL=${AD_HOST_URL}
      - AD_GATEKEEPER_URL=${AD_GATEKEEPER_URL:-http://archon-gatekeeper-1:4224}
      - AD_KEYMASTER_URL=${AD_KEYMASTER_URL}
      - AD_WALLET_URL=${AD_WALLET_URL:-http://archon-gatekeeper-1:4224}
      - AD_DATABASE=${AD_DATABASE}
      - AD_WALLET_PASSPHRASE=${AD_WALLET_PASSPHRASE}
      - AD_IPFS_API_URL=${AD_IPFS_API_URL:-http://archon-ipfs-1:5001/api/v0}
      - AD_IPNS_KEY_NAME=${AD_IPNS_KEY_NAME:-archon-social}
    volumes:
      - ./server/data:/app/server/data
    ports:
      - "${AD_HOST_PORT:-3000}:${AD_HOST_PORT:-3000}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - default
      - archon

networks:
  archon:
    external: true
    name: archon_default
